*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Mukta", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    background-color: white;
}

#main
{
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
    padding-bottom: 10px;
    /* margin-top: 10px; */
    background-color: white;
    border: 0px solid whitesmoke;
    box-shadow: 0 0 6px 3px rgb(223, 222, 222);
    border-top: none;
    border-left: none;
    border-right: none;
   
}
#Cartandlog
{
    display: flex;
    
}
#cart
{
    margin-right: 20px;
    margin-top: 2px;
}
#carticon{
     font-size: 24px;
     color: #000;
}
#carticon:hover
{
    color: rgb(244, 44, 44)
}
#logo h1
{
    font-size: 24px;
    text-decoration: none;
    font-weight: lighter;
    text-transform: uppercase;
    letter-spacing: .2em;

    color: #000;
}
#logo h1::after
{
    content: " It";
    color: rgb(244, 44, 44)
}
#logreg
{
    display: flex;
    margin-top: 4px;
}
#logreg h1{
    font-size: 18px;
    font-weight: lighter;
    cursor: pointer;
}
#logreg h1:hover
{
    color: rgb(244, 44, 44)
}
#topmenu
{

    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    margin-top: 10px;

}
#Link
{
    color: #000;
    text-decoration: none;
    padding: 0 20px;
    font-size: 20px;
    font-weight:1px;
}
#Link:hover{
    color: rgb(244, 44, 44)
}

.mlk
{
    width: 1900px;
    height: 400px;
    top:100px;
    position: relative;   
    background: rgb(242, 247, 224);
    background: radial-gradient(circle, rgba(255, 255, 255, 0.743) 0%, rgba(1, 25, 55, 0.681) 100%);
}
.fo-wri
{
  position: relative;
  top: 20px;
  font-size: 30px;
  font-family: Arial, sans-serif;
  font-weight: lighter;
  color: rgb(3, 12, 49);
  text-shadow: 0px 0px 3px rgba(70, 72, 72, 0.57);
}
.fo-para
{
  position: relative;
  top: 20px;
  font-size: 25px;
  font-weight: lighter;
  font-family: Calibri, 'Trebuchet MS', sans-serif;
}
.ko
{
    display: flex;
    justify-content: space-around;
}
